AdaptiveConsole/Config/AdaptiveConsoleConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:AdaptiveConsole.Config" elementFormDefault="qualified" targetNamespace="urn:AdaptiveConsole.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="adaptiveConsole" type="tns:AdaptiveConsole.Config.AdaptiveConsoleConfigurationCT" />
	<xs:complexType name="AdaptiveConsole.Config.AdaptiveConsoleConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="repositories" type="tns:AdaptiveConsole.Config.ContractRepositoryElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Repositories.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Gets or sets the name of the type which represents the console application instance.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AdaptiveConsole.Config.ContractRepositoryElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="repository" type="tns:AdaptiveConsole.Config.ContractRepositoryElementCT">
				<xs:annotation>
					<xs:documentation>The ContractRepositoryElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AdaptiveConsole.Config.ContractRepositoryElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assembly" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Assembly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
